<%= content_tag :div, class: "temp_information", data: {locations: @locations, times: @times, incidents_locations: @incident_locations, incident_times: @incident_times} do %>
<% end %>
<div class="row">
    <div class="col-sm-2 text-center">
    </div>
    <div class="col-sm-10 text-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1><%= @employee.name %> (<%= @employee.eid %>)</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 text-center">
        <div class="row">
            <div class="col-sm-12 text-center btn-block">
                <div class="dropdown btn-block">
                    <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        Employee
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <% @employees_list.each do |e| %>
                            <li><%= link_to e.name + " (" + e.eid.to_s + ")", home_path(e.id, 0) %></li>
                        <% end %>
                    </ul>
                </div>
                <%= link_to 'New Employee', addemployee_path, class: 'btn btn-default btn-block' %>
                <%= link_to 'Upload Data', upload_path, class: 'btn btn-default btn-block' %>
                <div class="dropdown btn-block">
                    <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        Date
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <% @dates.each do |d| %>
                            <li><%= link_to d, home_path(@employee.id, d) %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-center">
        <div class="row">
            <div class="col-sm-12">
                <div id="google-map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Data for <%= @display_date %></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#stats" role="pill" data-toggle="pill">Driving Stats</a></li>
                    <li role="presentation"><a href="#incidents" role="pill" data-toggle="pill">Driving Incidents</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="stats">
                        <% if not @obds.empty? %>
                            <h4>RPM</h4>
                            <%= line_chart @obds.map{|obd| [obd.time, obd.rpm]} %>
                            <h4>MPH</h4>
                            <%= line_chart @obds.map{|obd| [obd.time, obd.mph]} %>
                            <h4>Throttle</h4>
                            <%= line_chart @obds.map{|obd| [obd.time, obd.throttle]} %>
                            <h4>Intake Air Temperature</h4>
                            <%= line_chart @obds.map{|obd| [obd.time, obd.intake_air_temp]} %>
                            <h4>Fuel Status</h4>
                            <%= line_chart @obds.map{|obd| [obd.time, obd.fuel_status]} %>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>RPM</th>
                                            <th>MPH</th>
                                            <th>Throttle</th>
                                            <th>Intake Air Temp</th>
                                            <th>Fuel Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Average for Day</td>
                                            <td><%= (@obds.inject(0){|sum, obd| sum + obd.rpm}/@obds.size).round(2)%></td>
                                            <td><%= (@obds.inject(0){|sum, obd| sum + obd.mph}/@obds.size).round(2) %></td>
                                            <td><%= (@obds.inject(0){|sum, obd| sum + obd.throttle}/@obds.size).round(2)%></td>
                                            <td><%= (@obds.inject(0){|sum, obd| sum + obd.intake_air_temp}/@obds.size).round(2) %></td>
                                            <td><%= (@obds.inject(0){|sum, obd| sum + obd.fuel_status}/@obds.size).round(2) %></td>
                                        </tr>
                                        <% @obds.each do |obd| %>
                                            <tr>
                                                <td><%=obd.time.strftime("%I:%M:%S %p %b %d, %Y") %></td>
                                                <td><%=(obd.rpm).round(2)%></td>
                                                <td><%=(obd.mph).round(2)%></td>
                                                <td><%=(obd.throttle).round(2)%></td>
                                                <td><%=(obd.intake_air_temp).round(2)%></td>
                                                <td><%=(obd.fuel_status).round(2)%></td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        <% else %>
                            <h4>No Driving Stats Available</h4>
                        <% end %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="incidents">
                        <% if not @employee.videos.empty? %>
                            <% @employee.videos.each do |vid| %>
                                <h4>Incident at <%= vid.time.strftime("%I:%M:%S %p %b %d, %Y") %></h4>
                                <%= video_tag vid.dash_video.url, controls: true, style: "max-width: 100%;" %>
                            <% end %>
                        <% else %>
                            <h4>No Driving Incidents</h4>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap() {
        //var location1 = {lat: 30.5879615, lng: -96.3344641};
        var locations = $('.temp_information').data('locations');
        var times = $('.temp_information').data('times');
        var incident_locations = $('.temp_information').data('incident_locations');
        var incident_times = $('temp_information').data('incident_times');
        var locations_c = [];
        var timestamps = [];
        var i_locations_c = [];
        var i_timestamps = [];
        for (var i = 0; i < locations.length; i++) {
            locations_c.push({
                lat: parseFloat(locations[i]["lat"]),
                lng: parseFloat(locations[i]["lng"])
            });
            timestamps.push(times[i]);
        }
        for (var i = 0; i < incident_locations.length; i++) {
            i_locations_c.push({
                lat: parseFloat(incident_locations[i]["lat"]),
                lng: parseFloat(incident_locations[i]["lng"])
            });
            i_timestamps.push(incident_times[i]);
        var mapDiv = document.getElementById('google-map');
        var map = new google.maps.Map(mapDiv, {
            center: locations_c[0],
            zoom: 15
        });

        var infowindows = [];
        var markers = [];
        for (var i = 0; i < locations_c.length; i++) {
            infowindows.push(new google.maps.InfoWindow({
                content: timestamps[i]
            }));
            markers.push(new google.maps.Marker({
                position: locations_c[i],
                map: map
            }));
            console.log(infowindows[i]);
            google.maps.event.addListener(markers[i], 'click', (function(marker, i) {
                return function() {
                    infowindows[i].open(map, markers[i]);
                }
            })(markers[i], i));
        }
        i_infowindows = [];
        var i_markers = [];
        for (var i = 0; i < I-locations_c.length; i++) {
            i_infowindows.push(new google.maps.InfoWindow({
                content: i_timestamps[i]
            }));
            i_markers.push(new google.maps.Marker({
                position: i_locations_c[i],
                map: map,
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
            }));
            console.log(i_infowindows[i]);
            google.maps.event.addListener(i_markers[i], 'click', (function(marker, i) {
                return function() {
                    i_infowindows[i].open(map, i_markers[i]);
                }
            })(i_markers[i], i));
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
