<%= content_tag :div, class: "temp_information", data: {locations: @locations, times: @times} do %>
<% end %>
<div class="row">
    <div class="col-sm-2 text-center">
    </div>
    <div class="col-sm-10 text-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1><%= @employee.name %> (<%= @employee.eid %>)</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 text-center">
        <div class="row">
            <div class="col-sm-12 text-center btn-block">
                <div class="dropdown btn-block">
                    <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        Employee
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <% @employees_list.each do |e| %>
                            <li><%= link_to e.name + " (" + e.eid.to_s + ")", home_path(e.id, 0) %></li>
                        <% end %>
                    </ul>
                </div>
                <%= link_to 'New Employee', addemployee_path, class: 'btn btn-default btn-block' %>
                <%= link_to 'Upload Data', upload_path, class: 'btn btn-default btn-block' %>
                <div class="dropdown btn-block">
                    <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        Date
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <% @dates.each do |d| %>
                            <li><%= link_to d, home_path(@employee.id, d) %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-center">
        <div class="row">
            <div class="col-sm-12">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Locations for <%= @display_date %></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#stats" role="pill" data-toggle="pill">Driving Stats</a></li>
                    <li role="presentation"><a href="#incidents" role="pill" data-toggle="pill">Driving Incidents</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="stats">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Col1</th>
                                        <th>Col2</th>
                                        <th>Col3</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Data1</td>
                                        <td>Data2</td>
                                        <td>Data3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="incidents">
                        <% @employee.videos.each do |vid| %>
                            <h4>Incident at <%= vid.time.in_time_zone("Central Time (US & Canada)").strftime("%I:%M:%S %p %b %d, %Y") %></h4>
                            <%= video_tag vid.dash_video.url, controls: true, style: "max-width: 100%;" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap() {
        //var location1 = {lat: 30.5879615, lng: -96.3344641};
        var locations = $('.temp_information').data('locations');
        var times = $('.temp_information').data('times');
        var locations_c = [];
        var timestamps = [];
        for (var i = 0; i < locations.length; i++) {
            locations_c.push({
                lat: parseFloat(locations[i]["lat"]),
                lng: parseFloat(locations[i]["lng"])
            });
            timestamps.push(times[i]);
        }
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: locations_c[0],
            zoom: 15
        });

        var infowindows = [];
        var markers = [];
        for (var i = 0; i < locations_c.length; i++) {
            infowindows.push(new google.maps.InfoWindow({
                content: timestamps[i]
            }));
            markers.push(new google.maps.Marker({
                position: locations_c[i],
                map: map
            }));
            console.log(infowindows[i]);
            google.maps.event.addListener(markers[i], 'click', (function(marker, i) {
                return function() {
                    infowindows[i].open(map, markers[i]);
                }
            })(markers[i], i));
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
